.material-icons.colorChange { 
  color: #4db6ac; 
  margin-top: 5px;
}
.headerDesign{
  margin-top: -80px;
}

hr{
  margin-top: 25px;
  width: 120px;
  border: 1.5px solid	#D4AF37;
}


.fontColor{
 color: #757575 ;
}